.about__container {
  margin-top: 2rem;
  height: calc(100vh - 230px);
}
.about__container .row .col-lg-8 > h2, .about__container p, .about__container ul, .about__container img {
  opacity: 0;
  transition:  opacity 1s ease-in; 
}
.about__container__anim {
  opacity: 1!important;
}
.col-lg-8 {
  flex: 0 60%
}
.col-lg-4 {
  flex: 0 40%
}

@media only screen and (max-width: 48rem) {
  .col-lg-8 {
    flex: 100%
  }
  .col-lg-4 {
    flex: 100%
  }
}

.col-lg-8 > h2 {
  font-size: clamp(2.5rem, 5vw,3rem);
  color: #FFD60A;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}

.col-lg-8 > h2:after{
  content:'';
  flex: 1 1;
  border-bottom: 1px solid #FFD60A;
  margin: auto 2rem auto 1rem;
}
@media only screen and (max-width: 48rem) {
  .about__container {
    height: 100%;
  }
  .col-lg-8 > h2:after, .col-lg-8 > h2:before {
    content:''!important;
    flex: 1 1!important;
    border-bottom: 1px solid #FFD60A!important;
    margin: auto 1rem!important;
  }
  .col-lg-8 > p {
    text-align: left;
    margin: auto 1rem;
  }
  .col-lg-8 > p:first-of-type {
    margin-bottom: 1rem;
  }
  .tech-list {
    margin: auto 1rem;
  }
}
.col-lg-8 > p {
  font-size: 1.5rem;
  font-family: 'JetBrains Mono', monospace;
}

.profile_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(-2.87deg);
  opacity: 1;
  will-change: opacity, transform;
  object-fit: scale-down;


}
.profile_img:hover{
  transform: rotate(0deg);
  transform: scale(1.1);
}
.rotate_img {
  animation: spin 1500ms ease-in 0s;
}
@keyframes spin { 
  0% {
      opacity: 0;
      transform:rotate(0); 
  }
  100% {
    opacity: 1;
    transform: rotate(-2.87deg);
  }

}

.tech-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 7rem;
  font-size: 1.5rem;
  padding: 0 2rem;
  margin-top: 0.5rem;
}

.tech-list li {
  list-style: disc;
  max-width: 50%;
}


