.header__container {
  height: calc(100vh - 100px); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__container > header {
  text-align: center;
}

header > h1 {
  font-size: clamp(3rem,12vw,6rem);
  margin: 0;
}
header>p {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

header>.typewriter__container >.Typewriter {
  font-size: clamp(2rem,5vw,3rem);
  font-weight: 600;
  margin-bottom: 1rem;
}

.hire__button {
  margin-top: 2rem;
  padding: 1rem 8rem;
  font-size: 1.5rem;
}
.social_icons > a {
  margin: 1rem 1.5rem;
  color: #fff;
}
.header__container p, .header__container h1, .header__container .social_icons, .header__container .hire__button, .header__container .typewriter__container {
  opacity: 0;
  transition:  opacity 1s ease-in; 
}
.header__container__anim {
  opacity: 1!important;
}