.navigation__container {
  height: 100px;
  color: #fff;
  box-shadow: 0 1px #010d20;
  position: sticky;
  top: 0;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 5rem;
  transition-timing-function: ease-in;
  transition: 0.5s;
}
.navbar--hidden {
  top: -100px;
}
.navigation__container h2 {
  font-size: 2.25rem;
  font-weight: 400;
  cursor: pointer;
}
.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  display: flex;
  flex-wrap: wrap;
}

.primary-navigation li {
  margin: auto 1.5rem;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 400;
}
.primary-navigation a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.primary-navigation li .resumeButton {
  font-size: 1.5rem;
  color: #000;
  height: 40px;
  width: 160px;
  font-family: "IBM Plex Sans", sans-serif !important;
}

@media (max-width: 69rem) {
  .nav__overlay {
    inset: 0 0 0 0;
    position: fixed;
    background: #010d202d;
    backdrop-filter: blur(1rem);
    z-index: 3;
  }
  .primary-navigation {
    position: fixed;
    background: #010d20;
    flex-direction: column;
    inset: 0 0 0 25%;
    text-align: center;
    padding: min(30vh, 5rem) 2rem;
    transform: translateX(100%);
    transition: transform 350ms ease-in;
    z-index: 1000;
  }

  .primary-navigation li {
    margin: 2rem;
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .navigation__container {
    margin: auto;
    padding: 0 1rem;
    background: #010d20;
  }

  .mobile-nav-toggle {
    position: absolute;
    display: block;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 9999;
    border: 0;
    color: #fff;
    background: none;
    font-size: 1.5rem;
    transform: rotate(0deg);
    transition: transform 350ms ease-in;
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    transform: rotate(180deg);
  }
}
